services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    container_name: marco-backend
    ports:
      - "8000:8000"
    env_file:
      - backend/.env
    volumes:
      - ./backend:/app
      - ./backend/app.db:/app/app.db  # Persistencia de la base de datos
    restart: unless-stopped

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    container_name: marco-frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
    volumes:
      - ./frontend:/app
    restart: unless-stopped
